:root {
    --color-primary: #4CAF50;
    --color-secondary: #45a049;
    --color-text: #333;
    --color-background: #f4f4f4;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.navbar{
    background-color: #4CAF50;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

#logo{
    width: 280px;
    height: auto;
    margin-left: 30px;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li{
    position: relative;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.navbar li:hover ul{
    display: block;
}

.navbar ul ul{
    display: none;
    position: absolute;
    background-color: #333;
    padding: 1em;
    border: 1px solid #444;
    z-index: 1000;
}

.navbar ul ul li{
    display: block;
}

.navbar ul ul li:hover{
    background-color: #444;
    color: #fff;
}

.navbar ul ul a{
    padding: 0.5em;
}

.dropdownNoticias{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    white-space: nowrap;
    border-radius: 5px;
    gap: 10px;
    z-index: 1001;
    max-width: 90vw;
    overflow-x: auto;
    flex-wrap: wrap;
}

.noticias:hover .dropdownNoticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.itemNoticias{
    position: relative;
    width: 160px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.itemNoticias img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.itemNoticias span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    transition: background-color 0.3s;
    pointer-events: none;
}

.itemNoticias:hover span{
    background-color: rgba(0, 0, 0, 0.9);
}

section{
    margin-bottom: 2rem;
}

.galeria{
    /* position: relative; */
    /* max-width: 1200px; */
    /* max-height: 600px; */
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    z-index: 1000;
}

.slideDiv{
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 500px;
    /* width: 60%;
    max-width: 1200px; */
}

.slide{
    display: block;
    /* flex: 1; */
    object-fit: cover;
    /* margin: auto; */
    width: 100%;
    height: 100%;
}

#divValores{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.valor{
    flex: 1 1 250px;
    width: 45%;
    text-align: left;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#footer{
    /* background-color: #4CAF50; */
    /* color: #fff; */
    padding: 5px;
    margin-top: auto;
}

#footer img{
    width: 100%;
    display: block;
}

/* Personalizar la barra en navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
}

::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    /* border-radius: 10px; */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4CAF50; /* Color del "pulgar" (deslizador) */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #45a049; /* Color al pasar el mouse */
}

::-webkit-scrollbar-button{
    background: transparent;
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background: transparent; /* Oculta la esquina de la barra */
}

/* Para Firefox */
* {
    scrollbar-color: #4CAF50 transparent; /* (color del pulgar, color de fondo) */
    scrollbar-width: thin;
}